body {
  min-height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fade {
  animation: fadein 0.7s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.delay-s{
  animation-delay: .3s;
}
.delay-m{
  animation-delay: .5s;
}
.delay-l{
  animation-delay: .7s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
